<div {{bind-attr class=messageClass}} >
  <span class="avatar-small cursor-pointer" {{action 'talkToUser' fromId}}>{{user-avatar user=fromId}}</span>
  <small {{action 'talkToUser' fromId}}>{{fromId.displayName}}</small>
  <br>
  <span class="message">{{html content.content}}</span>
  <div class="message-footer">
    <span class="createdAt">{{{format-date createdAt}}}</span>
  </div>
</div>